.header {
  color: white;
  font-family: "Zen Dots", cursive;
  text-align: center;
  padding: 50px 10px;
  border: 2px solid rgb(27, 178, 168);
  border-radius: 4px;
  background: rgb(27, 178, 168);
}

h2 {
  color: rgb(13, 109, 253);
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  text-align: left;
  padding: 20px;
}

p {
  text-align: center;
  margin-top: 120px;
}

ul {
  list-style: none;
  font-size: 20px;
  color: rgb(136, 17, 160);
  text-align: left;
  text-transform: capitalize;
  position: relative;
  bottom: 68px;
}

img {
  position: relative;
  top: -24px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
}

.col-8 {
  position: relative;
  bottom: 70px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(136, 17, 160);
}

.weather-forecast-date {
  font-size: 24px;
  font-weight: bold;
  color: rgb(13, 109, 253);
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  color: rgb(136, 17, 160);
  font-size: 20px;
}

.weather-forecast-temperature-max {
  color: rgb(136, 17, 160);
  font-size: 20px;
}

.weather-forecast img {
  margin-top: 30px;
}
